astroid==2.5.1
autopep8==1.5.5
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
colorama==0.4.4
Cython==0.29.23
decorator==4.4.2
flake8==3.8.4
idna==2.10
isort==5.8.0
jedi==0.17.2
jiagu==0.2.3
jieba==0.42.1
joblib==1.0.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
networkx==2.5.1
numpy==1.20.3
parso==0.7.1
pluggy==0.13.1
pycodestyle==2.6.0
pydocstyle==6.0.0
pyflakes==2.2.0
pylint==2.7.2
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.2.3.0.2
PySide2==5.15.2
python-dotenv==0.15.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.25.1
rope==0.18.0
scikit-learn==0.24.2
scipy==1.7.0
shiboken2==5.15.2
six==1.16.0
snowballstemmer==2.1.0
synonyms==3.16.0
textrank4zh==0.3
threadpoolctl==2.1.0
toml==0.10.2
torch==1.9.0
typing-extensions==3.10.0.0
ujson==4.0.2
urllib3==1.26.5
wrapt==1.12.1
yapf==0.31.0
zipfile36==0.1.3
pkuseg
jionlp==1.3.16